.details {
  width: 95%;
  margin: 0 auto;
}
.details__image img {
  background-color: lightseagreen;
  max-height: 200px;
  margin-top: 20px;
}
.details__image {
  text-align: center;
}
.details__title {
  font-family: $montserrat;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  font-weight: 500;
}
.details__description {
  font-family: $roboto;
  font-weight: 300;
  margin-bottom: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0px;
}
.author {
  display: flex;
  border: 3px dotted $purple;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
.author__image img {
  width: 50px;
}
.author__info {
  font-family: $montserrat;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

// MEDIA QUERY

@media only screen and (min-width: 768px) {
  .details {
    max-width: 50%;
  }
}
