body {
  background-color: $blue;
}

.flex {
  display: flex;
  align-items: center;
}
.page {
  min-height: 80vh;
}

// POST CARD
.card {
  margin: 30px;
  text-align: center;
  width: 300px;
  border: 3px dotted $purple;
  padding: 15px 5px;
}
.card__image {
  text-align: center;
  min-height: 267px;
}
.card__info {
  font-family: $montserrat;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}
.card__button {
  margin-top: 10px;
}

// ANIMATION
.fade {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
