.messageForm {
  margin-top: 30px;
}
.messageForm input {
  display: block;
  padding: 5px;
  margin: 10px auto 5px;
  font-family: $montserrat;
}
.messageForm textarea {
  display: block;
  padding: 5px;
  margin: 10px auto 5px;
  height: 150px;
  width: 90%;
  font-family: $montserrat;
}
.messageFieldset {
  border: none;
  margin: 10px;
}
.formError {
  font-family: $roboto;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #e65252;
}
.messageForm__info {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}
// MESSAGE SENT PAGE
.sentNotification {
  min-height: 100vh;
}
.messageSent__p {
  font-size: 1.5em;
  margin: 30px;
  text-align: center;
}

// MEDIA QUERY

@media only screen and (min-width: 769px) {
  .messageForm textarea {
    max-width: 50%;
  }
  .messageForm__info {
    flex-direction: row;
  }
}
